{% extends "base.html" %}
{% block content %}
<div class="row">


  <h1>Transliterator for Southern Kurdish</h1>
  <br>
  <p>Welcome!</p>
  <br>
  <p>This is a simple transliterator for transliterating Southern Kurdish from an Arabic-based Script to a Latin-based Script and vice-versa </p>
  <p>Please click 'LATIN SCRIPT - KURDISH SCRIPT' if you wish to transliterate from a Latin-based Script to an Arabic-based Script</p>
  <p>Please click 'KURDISH SCRIPT - LATIN SCRIPT' if you wish to transliterate from an Arabic-based Script to a Latin-based Script</p>
  <br>

  <p>Enjoy!</p>


</div>

{% endblock content %}